<h1>COMPONENTE PRINCIPAL</h1>

<p>######################################################################################################</p>

<h3>
  <meu-primeiro-component></meu-primeiro-component>
</h3>

<p>######################################################################################################</p>

<h3>
  <app-meu-primeiro2></app-meu-primeiro2>
</h3>
<p>######################################################################################################</p>

<p style="color:blue">Cursos Component exportado através do import do MODULO neste modulo! </p>
<app-cursos></app-cursos>

<p>######################################################################################################</p>

<p style="color:blue">Dentro do APP COMPONENT: Posso isolar, apenas não exportar o componente no Cursos Modulos</p>
<app-cursos-detalhes></app-cursos-detalhes>

<p>######################################################################################################</p>
